<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img alt="Lakka" class="lakka-logo" src="/images/yayabo-logo.png"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to '获取', '/disclaimer' %></li>
      <li><%= link_to '卡刷教程', '/tutorial' %></li>      
      <li><%= link_to '关于', '/about' %></li>
      <li><%= link_to '联系', '/contact' %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
